{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "babel-plugin-syntax-dynamic-import",
    "transform-object-rest-spread",
    "lodash",
    [
      "import",
      { 
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ],
    ["styled-jsx/babel", {
      "plugins": [
        "styled-jsx-plugin-stylus"
      ]
    }],
    ["prismjs", {
      "languages": ["javascript", "css", "markup"],
      "plugins": ["line-numbers"],
      "theme": "default",
      "css": true
    }]
  ]
}