#root {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}
ul, ol {
  // list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

// 解决字体换行
.ellipsis, .ellipsis--2 {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

// -webkit-line-clamp不是标准样式，移动端会有兼容问题
// 不换行显示是尽量用ellipsis--1样式。
// --------------------------------------------------
.ellipsis--1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis--2 {
  -webkit-line-clamp: 2;
}

// 清除浮动
.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }
}